$avatar-dim: 30px;

.avatar {
  border-radius: $avatar-dim;
  border-style: solid;
  border-width: 1px;
  font-size: 19px;
  height: $avatar-dim;
  margin: 0 10px;
  text-align: center;
  width: $avatar-dim;
}
