<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 class="mat-headline">Seat Preferences</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="mat-subheading-1">Settings that help us choose <b><i>where</i></b> to seat you</h4>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section>
      <h4 class="mat-subheading-1 form-label">Seat Type</h4>
        <mat-radio-group class="form-control" [(ngModel)]="seatOption">
          <mat-radio-button color="primary" *ngFor="let seat of seatOptions" [value]="seat.id">
            {{seat.name}}
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <mat-divider></mat-divider>
      <section>
        <h4 class="mat-subheading-1 form-label">Near Exit</h4>
        <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
      </section>
      <mat-divider></mat-divider>
      <section>
        <h4 class="mat-subheading-1 form-label">Near Wing</h4>
        <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
      </section>
      <mat-divider></mat-divider>
      <section>
        <h4 class="mat-subheading-1 form-label">Avoid Restrooms</h4>
        <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
      </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 class="mat-headline">Social Preferences</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="mat-subheading-1">Settings that help us choose <b><i>who</i></b> to seat you with</h4>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section>
      <h4 class="mat-subheading-1 form-label">Languages</h4>
        <mat-form-field class="form-control">
          <mat-select placeholder="Languages" [formControl]="languages" multiple>
            <mat-select-trigger>
              {{languages.value ? languages.value[0] : ''}}
              <span *ngIf="languages.value?.length > 1" class="hidden-selections">
                (+{{languages.value.length - 1}} others)
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let language of languageList" [value]="language">{{language}}</mat-option>
          </mat-select>
        </mat-form-field>
    </section>
    <mat-divider></mat-divider>
    <section>
      <h4 class="mat-subheading-1 form-label">Avoid Children</h4>
      <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card>
