@import '../../../globals-extensions.scss';

:host {
  @extend %page-container;
}

mat-card {
  margin: 20px 40px;
  padding: 0;
}

mat-card-content {
  padding: 0 20px;
}

#profile-card {
  margin: 75px auto 10px;
  max-width: 600px;
  text-align: center;

  .profile-avatar {
    border-radius:200px;
    margin: -50px 0 10px;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    max-width: 400px;
    width: 70%;
  }
}

section {
  display: flex;
  padding: 20px 0;

  .label {
    margin-bottom: 3px;
  }

  .hint {
    font-size: 14px;
    max-width: 400px;
  }
}
