@import '../../../globals-extensions.scss';

:host {
  @extend %page-container;
}

.tab-container {
  padding: 20px 40px;
}

section {
  display: flex;

  .label {
    margin-bottom: 3px;
  }

  .hint {
    font-size: 14px;
    max-width: 400px;
  }
}
