@import '../../../globals-extensions.scss';

:host {
  @extend %page-container;
}

mat-card {
  padding: 0;
}

mat-card-content {
  padding: 0 20px;
}

.tab-container {
  padding: 20px 40px;
}

mat-grid-tile {
  background: #eee;
}

section {
  display: flex;
  padding: 20px 0;

  .label {
    margin-bottom: 3px;
  }

  .hint {
    font-size: 14px;
    max-width: 400px;
  }
}
