<mat-tab-group disableRipple="true" dynamicHeight="true">
  <mat-tab label="PROFILE">
    <mat-card>
      <mat-card-content>
        <section>
          <div>
            <div class="label pad-top">Profile Picture</div>
          </div>
          <div class="spacer"></div>
          <img src="/assets/images/daenerys.jpg" height="55px" width="55px" style="border-radius: 50%" />
        </section>
        <mat-divider></mat-divider>
        <section>
          <div>
            <div class="label pad-top">Full Name</div>
          </div>
          <div class="spacer"></div>
          <mat-form-field>
            <input matInput placeholder="Full Name">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div>
            <div class="label pad-top">Email Address</div>
          </div>
          <div class="spacer"></div>
          <mat-form-field>
            <input matInput placeholder="Email Address">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div>
            <div class="label pad-top">Date of Birth</div>
          </div>
          <div class="spacer"></div>
          <mat-form-field (click)="dobPicker.open()">
            <input matInput [matDatepicker]="dobPicker" placeholder="Date of Birth" (click)="dobPicker.open()" readonly>
            <mat-icon matSuffix>calendar_today</mat-icon>
            <mat-datepicker #dobPicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </section>
      </mat-card-content>
    </mat-card>
    <div class="actions">
      <button mat-flat-button color="primary">SAVE</button>
    </div>
  </mat-tab>
  <mat-tab label="PRIVACY">
    <mat-card>
      <mat-card-content>
        <section>
          <div>
            <div class="label">Private Profile</div>
            <div class="hint">Your profile will not be visible to other users</div>
          </div>
          <div class="spacer"></div>
          <mat-slide-toggle color="primary"></mat-slide-toggle>
        </section>
      </mat-card-content>
    </mat-card>
    <div class="actions">
      <button mat-flat-button color="primary">SAVE</button>
    </div>
  </mat-tab>
  <mat-tab label="NOTIFICATIONS">
    <mat-card>
      <mat-card-content>
        <section>
          <div>
            <div class="label">Email Notifications</div>
            <div class="hint">Allow notifications to be delivered to you via email</div>
          </div>
          <div class="spacer"></div>
          <mat-slide-toggle color="primary"></mat-slide-toggle>
        </section>
        <mat-divider></mat-divider>
        <section>
          <div>
            <div class="label">Seat Changes</div>
            <div class="hint">Get notified when a better seat becomes available</div>
          </div>
          <div class="spacer"></div>
          <mat-slide-toggle color="primary"></mat-slide-toggle>
        </section>
      </mat-card-content>
    </mat-card>
    <div class="actions">
      <button mat-flat-button color="primary">SAVE</button>
    </div>
  </mat-tab>
  <mat-tab label="DISPLAY">
    <mat-card>
      <mat-card-content>
        <section>
          <div>
            <div class="label">Midnight Mode</div>
            <div class="hint">Enable the dark theme for the entire application</div>
          </div>
          <div class="spacer"></div>
          <mat-slide-toggle color="primary" (change)="midnightModeToggled($event)"></mat-slide-toggle>
        </section>
      </mat-card-content>
    </mat-card>
    <div class="actions">
      <button mat-flat-button color="primary">SAVE</button>
    </div>
  </mat-tab>
</mat-tab-group>
