<mat-toolbar>
  <h4 id="logo" routerLink="/">flii</h4>
  <div class="spacer"></div>
  <button mat-icon-button color="primary" routerLink="/preferences" matTooltip="Preferences">
      <mat-icon>playlist_add_check</mat-icon>
    </button>
  <button mat-icon-button color="primary" routerLink="/flights" matTooltip="Flights">
    <mat-icon>flight</mat-icon>
  </button>
  <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" overlapTrigger="false">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
