@import '../../../globals-extensions.scss';

$card-height: 60px;
$icon-margin: 17px;

:host {
  @extend %page-container;
}

mat-card {
  height: $card-height;
}

mat-card, #filters {
  margin: 10px 0;
  padding: 0;
}

#filters {
  display: flex;
  margin-top: 20px;

  .filter {
    cursor: pointer;
    margin: 20px 25px 0 0;
  }

  .filter.selected {
    font-weight: bold;
  }
}

.status {
  height: $card-height;
  float: left;
  text-align: center;
  width: $card-height;

  mat-icon {
    cursor: default;
    margin-top: $icon-margin;
  }
}

.content {
  $content-padding: 5px;
  float: left;
  height: calc(100% - #{$content-padding} * 2);
  padding: $content-padding;
}

.details {
  margin-top: 5px;

  mat-icon {
    margin-right: 2px;
    vertical-align: middle;
  }

  span {
    margin: 5px 10px;
  }
}

.date {
  span {
    font-size: 12px;
    margin: 5px 10px;
  }
}

.actions {
  float: right;
  margin: 10px 5px 0 0;
}
