<div id="filters">
  <span class="filter" *ngFor="let filter of filters" (click)="selectFilter(filter.id)" [ngClass]="{ selected: isFilterSelected(filter.id) }">{{filter.display}}</span>
  <div class="spacer"></div>
  <mat-form-field>
    <input matInput [ngModel]="searchFilter" (ngModelChange)="searchFilterChange($event)" placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<p *ngIf="filteredFlights.length === 0" class="no-flights">No flights found</p>

<mat-card *ngFor="let flight of filteredFlights">
  <div class="status">
    <mat-icon [matTooltip]="getStatusText(flight.status)">{{getStatusIcon(flight.status)}}</mat-icon>
  </div>
  <div class="content">
    <div class="details">
      <span><mat-icon matTooltip="Flight Number">flight</mat-icon> {{flight.flightNumber}}</span>
      <span><mat-icon matTooltip="Departure">flight_takeoff</mat-icon> {{flight.origin}}</span>
      <span><mat-icon matTooltip="Arrival">flight_land</mat-icon> {{flight.destination}}</span>
    </div>
    <div class="date">
      <span>{{flight.date}}</span>
    </div>
  </div>

  <button class="actions" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="false">
    <button mat-menu-item>Seat Map</button>
    <button mat-menu-item (click)="openConnect(flight)">Connect with Passengers</button>
    <button mat-menu-item (click)="openRatings(flight)" [disabled]="!ratingsAllowed(flight)">Rate Flight</button>
  </mat-menu>
</mat-card>
