<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 class="mat-headline">Seat Preferences</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="mat-subheading-1">Settings that help us choose <b><i>where</i></b> to seat you</h4>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section>
      <h4 class="mat-subheading-1 form-label">Seat Type</h4>
        <mat-radio-group class="form-control" [(ngModel)]="seatOption">
          <mat-radio-button color="primary" *ngFor="let seat of seatOptions" [value]="seat.id">
            {{seat.name}}
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <mat-divider></mat-divider>
      <section>
        <h4 class="mat-subheading-1 form-label">Near Exit</h4>
        <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
      </section>
      <mat-divider></mat-divider>
      <section>
        <h4 class="mat-subheading-1 form-label">Near Wing</h4>
        <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
      </section>
      <mat-divider></mat-divider>
      <section>
        <h4 class="mat-subheading-1 form-label">Avoid Restrooms</h4>
        <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
      </section>
      <mat-divider></mat-divider>
      <section>
        <h4 class="mat-subheading-1 form-label">Extra Legroom</h4>
        <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
      </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 class="mat-headline">Social Preferences</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="mat-subheading-1">Settings that help us choose <b><i>who</i></b> to seat you with</h4>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section>
      <h4 class="mat-subheading-1 form-label pad-top">Languages</h4>
      <mat-icon class="pad-top" matTooltip="We'll seat you with people who speak your language" matTooltipPosition="right">info</mat-icon>
      <mat-form-field class="form-control">
        <mat-select placeholder="Languages" [formControl]="languages" multiple>
          <mat-select-trigger>
            {{languages.value ? languages.value[0] : ''}}
            <span *ngIf="languages.value?.length > 1" class="hidden-selections">
              (+{{languages.value.length - 1}} others)
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let language of languageList" [value]="language">{{language}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <mat-divider></mat-divider>
    <section>
      <h4 class="mat-subheading-1 form-label">Avoid Children</h4>
      <mat-icon matTooltip="We'll seat you away from children between the age of 0 and 8 years old" matTooltipPosition="right">info</mat-icon>
      <mat-slide-toggle class="form-control" color="primary"></mat-slide-toggle>
    </section>
    <mat-divider></mat-divider>
    <section>
        <h4 class="mat-subheading-1 form-label pad-top">Age Range</h4>
        <mat-icon class="pad-top" matTooltip="We'll seat you with people within {{ageRangeSelection}} years of your age" matTooltipPosition="right">info</mat-icon>
        <mat-slider class="form-control" min="1" max="50" [value]="ageRangeSelection" thumbLabel (change)="ageRangeChange($event)"></mat-slider>
      </section>
  </mat-card-content>
</mat-card>
