@import '~@angular/material/theming';
@import './globals-theme.scss';
@import 'app/components/header/header-theme.component.scss';
@import 'app/components/preferences/preferences-theme.component.scss';
@import 'app/components/flights/flights-theme.component.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$flii-app-primary: mat-palette($mat-light-blue);
$flii-app-accent: mat-palette($mat-light-blue);

// The warn palette is optional (defaults to red).
$flii-app-warn: mat-palette($mat-red);

$flii-app-light-theme: mat-light-theme($flii-app-primary, $flii-app-accent, $flii-app-warn);
$flii-app-dark-theme: mat-dark-theme($flii-app-primary, $flii-app-accent, $flii-app-warn);

@mixin flii-theme($theme) {
  @include flii-global-theme($theme);
  @include flii-header-theme($theme);
  @include flii-preferences-theme($theme);
  @include flii-flights-theme($theme);
}

// Default to light theme
@include angular-material-theme($flii-app-light-theme);
@include flii-theme($flii-app-light-theme);

// Dark theme class
.flii-dark-theme {
  @include angular-material-theme($flii-app-dark-theme);
  @include flii-theme($flii-app-dark-theme);
}
